*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background:url("../img/bg.jpg");
}

h1{
    font-size: 4.231rem;
}
h2{
    font-size:3.748rem;
}
h3{
    font-size:2.188rem;
}
h4{
    font-size:1.125rem;
}
