/****************Ahronbd***************/
@font-face{
    font-family: "Aharoni";
    src: url("../fonts/Aharoni/Aharoni.eot");
    src: url("../fonts/Aharoni/Aharoni.eot#iefix")format("embedded-opentype"),
    url("../fonts/Aharoni/Aharoni.woff")format("woff"),
    url("../fonts/Aharoni/Aharoni.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************Ahronbd***************/
@font-face{
    font-family: "Ahronbd";
    src: url("../fonts/Ahronbd/Ahronbd.eot");
    src: url("../fonts/Ahronbd/Ahronbd.eot#iefix")format("embedded-opentype"),
    url("../fonts/Ahronbd/Ahronbd.woff")format("woff"),
    url("../fonts/Ahronbd/Ahronbd.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************ALoveOfThunder***************/
@font-face{
    font-family: "ALoveOfThunder";
    src: url("../fonts/ALoveOfThunder/ALoveOfThunder.eot");
    src: url("../fonts/ALoveOfThunder/ALoveOfThunder.eot#iefix")format("embedded-opentype"),
    url("../fonts/ALoveOfThunder/ALoveOfThunder.woff")format("woff"),
    url("../fonts/ALoveOfThunder/ALoveOfThunder.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************AvenirNext***************/
@font-face{
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNext/AvenirNext.eot");
    src: url("../fonts/AvenirNext/AvenirNext.eot#iefix")format("embedded-opentype"),
    url("../fonts/AvenirNext/AvenirNext.woff")format("woff"),
    url("../fonts/AvenirNext/AvenirNext.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************MyriadProRegular***************/
@font-face{
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff")format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************PTSans***************/
@font-face{
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans.eot");
    src: url("../fonts/PTSans/PTSans.eot#iefix")format("embedded-opentype"),
    url("../fonts/PTSans/PTSans.woff")format("woff"),
    url("../fonts/PTSans/PTSans.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
/****************WiGuru***************/
@font-face{
    font-family: "WiGuru";
    src: url("../fonts/WiGuru/WiGuru.eot");
    src: url("../fonts/WiGuru/WiGuru.eot#iefix")format("embedded-opentype"),
    url("../fonts/WiGuru/WiGuru.woff")format("woff"),
    url("../fonts/WiGuru/WiGuru.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
