/***************** Colors *****************/
$colorNavBG:#141414;
$colorFooterBG:#303030;
$colorWheyProtein:#8f0001;
$colorWheyIsolate:#4e0000;
$colorMicelarCasein:#002b57;
$colorSuperMassGainer:#003a49;
$colorBCAA:#5a5a5a;
$colorMonohydrateCreatine:#11562e;
$colorButton:#ff6000;
$colorButtonActive:#7b746c;
$colorText:#ffffff;
$colorTextFooter:#b6b4b3;


/***************** Fonts *****************/
$fontAharoni:"Aharoni",sans-serif;
$fontAhronbd:"Ahronbd",sans-serif;
$fontALoveOfThunder:"ALoveOfThunder",sans-serif;
$fontAvenirNext:"AvenirNext",sans-serif;
$fontMyriadProRegular:"MyriadProRegular",sans-serif;
$fontPTSans:"PTSans",sans-serif;
$fontWiGuru:"WiGuru",sans-serif;

/*****************Colors*****************/


/*****************Colors*****************/
